.a {
    text-decoration: none;
}

.globally::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.globally {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.normal_text {
    padding: 15px 0px 0px 25px;
    font-weight: bold;
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 20% 0% 0% 45%;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.box {
    height: 200px;
    margin: 10px;
    position: relative;
    background: linear-gradient(to right, blue, black);
}

.box:before,
.box:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: calc(100% - var(--b, 10px));
    /*control the gap here*/
    -webkit-mask: radial-gradient(var(--r1, 100%) var(--r2, 80%) at var(--p1, top), white 79.5%, transparent 80%) var(--d1, right), radial-gradient(var(--r1, 100%) var(--r2, 80%) at var(--p2, bottom), transparent 79.5%, white 80%) var(--d2, left);
    mask: radial-gradient(var(--r1, 100%) var(--r2, 80%) at var(--p1, top), white 79.5%, transparent 80%) var(--d1, right), radial-gradient(var(--r1, 100%) var(--r2, 80%) at var(--p2, bottom), transparent 79.5%, white 80%) var(--d2, left);
    -webkit-mask-size: 50.1% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-size: 50.1% 100%;
    mask-repeat: no-repeat;
}

.box:before {
    top: 0;
    background: linear-gradient(to bottom right, #de350b, #0065ff);
}

.box:after {
    bottom: 0;
    background: linear-gradient(to bottom right, #ad3, #add);
    --p1: bottom;
    --p2: top;
    --d1: left;
    --d2: right;
}