<div class="globally" style="background-color: #28363D;">
    <div class="row " style="height: 100vh; width: 100%; ">
        <div class="col-1 " style="background-color: #2F575D ">
            <div class="row ">
            </div>
        </div>
        <div class="col-10 ">
            <div class="row ">
                <video id="video " controls autoplay style="position: absolute; height: 70vh; width: 100%; width: 100%; pointer-events: none; ">
                    <source src="../../../assets/videos/test.mov " type="video/mp4 ">
                    Your browser does not support the video tag.
                  </video>
            </div>
            <div class="row justify-content-center">
                <audio id="audio" src="../../../assets/audio/test.mp3 " controls></audio>
                <canvas (click)="canvasClick() " id="output" style="width: 70%; height: 30vh; top: 70%; position: absolute; background-color: #28363D;"></canvas>
            </div>
        </div>
        <div class="col-1 " style="background-color: #2F575D; ">
        </div>
    </div>
</div>