<div class="globally">
    <div class="row" style="height: 100vh; width: 100%;">
        <div class="col-1" style="background-color: rgb(144, 177, 221);">
            <div class="row">

            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <video id=" video" controls autoplay style="position: absolute; height: 70vh; width: 100%; width: 100%; pointer-events: none; ">
                    <source src="../../../assets/videos/test.mov " type="video/mp4 ">
                    Your browser does not support the video tag.
                  </video>
            </div>
            <div class="row" style="height: 300px ">
                <canvas id="output" style="width: 100%; height: 30vh; top: 70%; position: absolute; background-color: rgb(190, 194, 184); "></canvas>
                <audio controls id="audio">
                    <source src="../../../assets/audio/test.mp3" type="audio/mpeg">
                    Your browser does not support the audio tag.
                  </audio>
            </div>


        </div>
        <div class="col-1 " style="background-color: rgb(144, 177, 221); ">
        </div>
    </div>
</div>